@import '../Main.css';

.writers-profile {
    margin-top: 5%;
    max-width: 50%;
    margin-left: 25%;
    background-color: var(--secondary-color);
    border-radius: 30px;
    padding: 2%;
    text-align: right;
}

.writers-profile img {
    float: left;
    border-radius: 100%;
}

.follow-button {
    background-color: var(--main-color-orange); 
    font-size: 1rem;
    color: var(--yellow-intense);
    border-radius: 20px;
    padding: 1%;
    margin-left: 26%;
    margin-top: -100%;
}

.requests-container {
    margin-top: 2%;
    border-radius: 100px;
    text-align: center;
    color: var(--main-color-orange); 
    background-color: var(--yellow-light);
    padding: 1%;
    max-width: 25%;
    margin-left: 40%;
}
.requests-container span {
    color: red; 
}

.requests-container button {
    background-color: var(--yellow-intense);
    border-radius: 10px;
    padding: 1%;
}

.message-form, .notifications {
   margin-top: 2%;
   margin-left: 5%;
   color: var(--main-color-orange);
   text-align: center;
   align-items: center;
}
.message-form textarea {
   width: 40%;
   margin-left: 5%;
   border: solid 0px;
   border-bottom: solid 1px var(--main-color-orange);
}

.message-form button {
    margin-top: 1%;
    color: var(--main-color-orange);
    background-color: var(--yellow-light);
    border-radius: 15px;
    padding: 0.5%;
    float: center;
}

.hidden {
    display: none;
}

.messages-container {
    text-align: center;
}

.messages-container h2 {
    text-decoration: underline;
}

.confirmation-message {
    margin-top: 1%;
}