@import '../Main.css';

.writers-profile {
    margin-top: 5%;
    max-width: 50%;
    margin-left: 25%;
    background-color: var(--secondary-color);
    border-radius: 30px;
    padding: 2%;
    text-align: right;
}

.writers-profile img {
    float: left;
    border-radius: 100%;
}

.follow-button {
    background-color: var(--main-color-orange); 
    font-size: 1rem;
    color: var(--yellow-intense);
    border-radius: 20px;
    padding: 2%;
}