:root {
    --main-color-orange: #F3A738;
    --secondary-color: #F1D9A7;
    --links-color: #EEA243 ;
    --yellow-light: #F3E37C;
    --yellow-intense: #F3D34A;
}

.writers-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.writers-view li {
    list-style: none;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 30px;
    margin: 5%;
    padding: 2%;
}

ul>li img {
    border-radius: 100%;
}

a {
    color: var(--links-color)
}

.login-warning {
    position: fixed;
    background-color: var(--yellow-intense);
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-message {
    color: red;
    margin-top: 2%;
    font-size: 0.8rem;
}

.login-form {
  display: grid;
  grid-template-rows: 1fr;  
  background-color: var(--secondary-color);
  padding: 2%;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form button {
    margin-top: 10%;
    background-color: var(--yellow-light);
    font-size: 1rem;
    max-width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    color: var(--main-color-orange);
    font-weight: 700;
}